@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Book.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f7f7ff;
  font-family: "Gotham", sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-container {
  background-color: #fff;
  width: 595px;
  min-height: 842px;
  display: flex;
  flex-direction: column;
}

.resume-header {
  padding: 20px 40px;
  height: 140px;
  border-bottom: 1px solid #9F9F9F;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  padding: 5px;
  border: 0.5px solid #292929;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.heading {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  gap: 20px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.full-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.first-name,
.last-name {
  margin: 0;
  padding: 0;
}

.divider {
  width: 11px;
  height: 100%;
  background-color: #292929;
}

.resume-body {
  flex: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 227px 1fr;
}

.personal-info {
  border-right: 1px solid #9F9F9F;
  padding: 20px 40px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.section-header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #9F9F9F;
}

.general-info,
.contact-info,
.software-info {
  width: 100%;
}

.infos-list, .skills-list {
  list-style-type: none;
}

.skills-list .list-item,
.infos-list .list-item {
  padding: 8px 0 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-wrap: anywhere;
  gap: 5px;
}

.infos-list .list-item {
  border-bottom: 0.2px solid #9F9F9F;
}

.list-item .info-title {
  color: #292929;
  font-size: 10px;
  font-weight: 700;
}

.list-item .info-descr {
  color: #292929;
  font-size: 10px;
  font-weight: 300;
}

.info-descr a {
  text-decoration: none;
  color: inherit;
}

.percentage-bar {
  background-color: rgba(244, 239, 253, 0.20);
  border-radius: 4px;
  width: 100%;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.percentage-bar .progress {
  border-radius: inherit;
  height: 100%;
  animation: fillProgress 1.2s ease-in-out forwards;
}

.progress-90 {
  --final-width: 90%;
}

.progress-80 {
  --final-width: 80%;
}

.progress-70 {
  --final-width: 70%;
}

@keyframes fillProgress {
  from {
    width: 0;
  }

  to {
    width: var(--final-width);
  }
}

.blue-gradient {
  background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
}

.orange-gradient {
  background: var(--Red_Orange, linear-gradient(90deg, #FA709A 0%, #FEE140 100%));
}

.green-gradient {
  background: linear-gradient(90deg, #84FAB0 0%, #8FD3F4 100%);
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.gotham-light {
  font-family: "Gotham", sans-serif;
  font-weight: 300;
}

.gotham-book {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
}

.gotham-bold {
  font-family: "Gotham", sans-serif;
  font-weight: 700;
}